.citiesList {
  margin-top: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid #333;
}

.citiesItem {
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 16px;
  color: #000;
  background: #fff;
  border: none;
  border-radius: 5px 5px 0 0;
  padding: 5px;
  margin-left: 2px;
  transition: background-color 0.2s ease-in-out;
}

.citiesItem--reset {
  color: #fff;
  background:indianred;
}

.citiesItem:hover {
  background:rgba($color: #000000, $alpha: 0.15);
  border-bottom: 0.5px solid #ABABAB;
}

.citiesItem  .isActive {
  background:rgba($color: #000000, $alpha: 0.15);
  border-bottom: 0.5px solid #ABABAB;
}
